/* Global variables. */
:root {
  /* Default (light) theme */
  --bg: #eee;
  --text-header: #555;
  --text: #666;
  --text-light: #777;

  --accent: #1266e2;
  --accent-gradient: #20b0e1;
  --accent-soft: #ebfaff;
  --accent-text: var(--bg);
  --accent-white: white;

  --marked: #cea3d9;
  --marked-gradient: #ba86c7;

  --border: #aaa;
  --border-width: 2px;

  --standard-border-radius: 0.75rem;
  --small-border-radius: 0.25rem;
}

body {
  grid-template-columns: 1fr min(70rem, 90%) 1fr;
}

/* For semi-size display  */
@media (max-width: 28rem) {
  body {
    font-size: 1.075rem;
  }
}

h1,
.special {
  font-family: "Special Gothic Expanded One", sans-serif;
  /*font-family: "Montserrat", sans-serif;*/
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: var(--text-header);
}

h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  color: var(--text-header);
}
#trusted-by h3,
#main-features h3 {
  font-size: 1.44rem;
  line-height: 1.5;
  margin-top: 1rem;
}

#all-features h3 {
  font-size: 1.15rem;
  line-height: 1.5;
}

/* Reduce header size on mobile */
@media only screen and (max-width: 720px) {
  #trusted-by h3,
  #main-features h3 {
    font-size: 1.25rem;
  }
}

article h2:first-child,
section h2:first-child,
article h3:first-child,
section h3:first-child {
  padding-top: 3rem;
  margin-top: -3rem;
}

h1,
h2 {
  color: var(--text-header);
}

h1 span,
h2 span {
  display: inline-flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: -0.1rem;
  margin-bottom: -0.1rem;
  padding: 0.1rem 0.5rem;
  color: rgb(106, 106, 45);
  background: rgba(255, 255, 0, 0.6);
}

mark {
  border-radius: var(--small-border-radius);
  background: linear-gradient(160deg, var(--marked), var(--marked-gradient));
  color: var(--accent-white);
  font-style: italic;
}

a.link {
  /*background-color: var(--accent-soft);*/
}

a.link.withicon {
  text-decoration: none;
  white-space: nowrap;
}

a.link.withicon span {
  text-decoration: underline;
}

a.link.withicon:hover span {
  text-decoration: none;
}

a:hover {
}

a:active {
  position: relative;
  top: 1px;
}

a.active {
  text-decoration: none;
}

a.btn {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border-width: 2px;
  border-style: solid;
  color: var(--accent);
  border-color: color var(--accent);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.05rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

a.btn:hover {
  filter: brightness(1.05);
  transform: translateY(-0.1rem);
}

a.btn:active {
  transform: translateY(0);
}

a.btn.primary {
  border-width: 0;
  border-radius: 999px;
  padding: calc(0.5rem + 0.1rem) calc(1.2rem + 0.125rem);
  color: var(--accent-white);
  background: linear-gradient(160deg, var(--accent), var(--accent-gradient));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease,
    filter 0.15s ease;
}

a.btn.primary:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
}

a.btn.primary:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

a.btn.primary.disabled,
a.btn.primary.disabled:hover,
a.btn.primary.disabled:active,
a.btn.primary.disabled:enabled {
  opacity: 0.25;
  box-shadow: inherit !important;
  filter: brightness(1) !important;
  transform: translateY(0) !important;
  transition: none !important;
  box-shadow: inherit !important;
  cursor: pointer;
}

a.btn span {
  /*margin-left: 0.5rem;*/
}

/* */
/* Header */
/* */
body > header {
  padding: 0rem;
}

header .branding {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  max-width: 70rem;
  width: 90%;
  margin-inline: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header nav {
  padding: 0;
  line-height: inherit;
  font-size: inherit;
}

header nav .wrapper {
  border-top: var(--border-width) dotted var(--border);
  max-width: min(70rem, 90%);
  margin: auto;
  padding: 0.5rem;
  background: linear-gradient(
    135deg,
    rgba(171, 138, 255, 0) 5%,
    rgba(214, 200, 255, 0.5) 25%,
    rgba(241, 230, 178, 0.5) 75%,
    rgba(255, 210, 77, 0) 95%
  );
  background-blend-mode: lighten;
}

header nav a,
header nav a:hover,
header nav a:visited {
  margin: 0 0.3rem 0 0.3rem;
  border: none;
  border-radius: none;
  color: var(--accent);
  display: inline-block;
  padding: 0;
  text-decoration: revert;
  background: none;
  border-color: none;
  cursor: pointer;
}

header nav a:hover {
  text-decoration: none;
}

header nav a.current {
  background: none;
  border-color: inherit;
  color: inherit;
  text-decoration: none;
}

/* Reduce nav side on mobile */
/* Fix of default Simple.css */
@media only screen and (max-width: 720px) {
  header nav a {
    border: revert;
    padding: revert;
    text-decoration: revert;
    line-height: revert;
  }

  header nav a.current {
    background: revert;
  }
}
a.brand {
  position: relative;
}
a.brand img {
  width: 10rem;
  border-radius: 0;
}

a.brand span {
  font-size: 0.001rem;
  background-color: inherit;
}

a.brand mark {
  font-size: 0.9rem;
  position: absolute;
  text-align: center;
  top: -0.5rem;
  right: -4rem;
}

a.brand.small img {
  width: 3rem;
  padding-bottom: 0;
}

header .left {
  text-align: left;
  white-space: nowrap;
}

header .left h2 {
  font-size: 2rem;
}

header .left a {
  text-decoration: none;
}

header .left a span {
}

header h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

@media (max-width: 42rem) {
  header a.btn span {
    display: none;
  }

  header .left {
    position: relative;
  }
}

/* For semi-size display  */
@media (min-width: 28rem) {
  header a.brand img {
    width: 12rem;
  }
}

/* */
/* Section */
/* */
section {
  padding-left: 0;
  padding-right: 0;
}

/* */
/* Main */
/* */
main {
  padding-top: 0;
}

/* */
/* Columns */
/* */

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  column-gap: 3rem;
}

.container > .column {
  gap: 0;
  margin-bottom: 2rem;
}

.container > .column.subgrid {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
}

/* For semi-size display  */
@media (min-width: 28rem) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For full display  */
@media (min-width: 56rem) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* */
/* Teaser */
/* */
#teaser {
  background:
    linear-gradient(
      135deg,
      rgba(171, 138, 255, 0.75) 0%,
      rgba(214, 200, 255, 0.75) 25%,
      rgba(241, 230, 178, 0.75) 75%,
      rgba(255, 210, 77, 0.75) 100%
    ),
    url("img/placeholder1.png") center / cover no-repeat;
  background-blend-mode: lighten;
}

#teaser {
  width: 100vw;
  position: relative;
  box-sizing: border-box;
  left: 50%;
  right: 50%;
  margin-top: 0;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  display: flex;
}

#teaser a.btn + a.btn {
  margin-top: 0.5rem;
}

#teaser h2 {
  font-weight: 600;
}

#teaser h1 i,
#teaser h2 i,
#teaser small code {
  font-style: normal;
  mix-blend-mode: multiply;
}

/* */
/* What is included? */
/* */
#what-is-included h3 + h3 {
  text-align: center;
}

.carousel {
  overflow: hidden;
  padding: 2rem 0;
}

.carousel-inner {
  display: flex;
  width: max-content;
  animation: scroll 10s linear infinite;
}

.carousel-track {
  display: flex;
  gap: 2rem;
}

.carousel:hover .carousel-inner {
  animation-play-state: paused;
}

.carousel-item {
  max-width: 10rem;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.carousel-item h5 {
  margin: 0;
  font-weight: 600;
}

.carousel-item span {
  font-size: 0.85rem;
  opacity: 0.7;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* */
/* Hero  */
/* */

#hero h2 {
  margin-bottom: 0.5rem;
}

#hero h2 + mark + p {
  margin-top: 1rem;
}

/* For semi-size display  */
@media (min-width: 28rem) {
  #hero .container {
    grid-template-columns: repeat(2, 1fr);
  }

  #hero .column:nth-child(2) {
    display: grid;
    place-items: center;
  }
}

/* */
/* Main Features */
/* */

#main-features .column {
  position: relative;
  background-color: white;
  margin: -0.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 1rem 1rem;
  border-radius: var(--standard-border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

#main-features .column img {
  margin-bottom: 1rem;
  display: none;
}

#main-features .svg-inline--fa {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

#main-features .number {
  display: block;

  margin: auto;

  text-align: center;
  font-weight: 700;
  width: 3.5rem;
  height: 3.5rem;
  /*border: var(--border) var(--border-width) solid;*/
  background: rgba(255, 255, 0, 0.6);
  color: rgb(106, 106, 45);
  border-radius: 999rem;
  position: absolute;
  left: calc(50% - 1.75rem);
  top: -0.8rem;
  font-size: 1.5rem;
  line-height: 3.5rem;
  padding-left: 0.25rem;
}

/* For semi-size display  */
@media (min-width: 28rem) {
  #main-features .column {
    position: relative;
    margin-bottom: 0;
  }

  #main-features .column + .column {
    position: relative;
    top: 10vh;
    margin-bottom: 0;
  }

  #main-features .column + .column + .column {
    position: relative;
    top: 15vh;
    margin-bottom: 25vh;
  }

  #main-features .column + .column + .column + .column {
    position: relative;
    top: 25vh;
    margin-bottom: 25vh;
  }
}

/* For full display  */
@media (min-width: 56rem) {
  #main-features .column {
    position: relative;
    margin-bottom: 60vh;
  }

  #main-features .column + .column {
    position: relative;
    top: 20vh;
    margin-bottom: 60vh;
  }

  #main-features .column + .column + .column {
    position: relative;
    top: 40vh;
    margin-bottom: 60vh;
  }

  #main-features .column + .column + .column + .column {
    position: relative;
    top: 60vh;
    margin-bottom: 60vh;
  }
}

/* */
/* Trusted By */
/* */
#trusted-by img {
  width: 7rem;
  height: 7rem;
  border-radius: 100rem;
  display: block;
  margin: auto;
}

#trusted-by h3,
#trusted-by p {
  text-align: center;
}

#trusted-by h3 {
  margin-top: 0.5rem;
}

#trusted-by p {
  margin-top: -1.5rem;
}

/* */
/* All Features */
/* */

#all-features img {
  margin-bottom: 1rem;
}

#all-features h3 {
  margin-top: 0;
  margin-bottom: 0;
}

#all-features p {
  margin-top: 0;
}
.version {
  margin-bottom: 3rem;
}
.version h2 em,
.version h2 .date {
  font-size: 1.15rem;
  display: block;
  font-style: initial;
  font-weight: 400;
  background-color: inherit;
  color: inherit;
}



/* For semi-size display  */
@media (min-width: 42rem) {
  #all-features .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* For full display  */
@media (min-width: 56rem) {
  #all-features .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* */
/* FAQ */
/* */

#faq details {
  background-color: inherit;
  margin-bottom: 0px;
  border-radius: 0;
  border-width: 2px;
  margin-bottom: -2px;
  background-color: white;
}

#faq details:first-of-type {
  border-radius: var(--standard-border-radius) var(--standard-border-radius) 0 0;
}

#faq details:last-of-type {
  border-radius: 0 0 var(--standard-border-radius) var(--standard-border-radius);
}

.details-anim {
  display: grid;
  grid-template-rows: 0fr;
  transition:
    grid-template-rows 0.45s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s ease;
  opacity: 0;
}

.details-anim > * {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

details[open] .details-anim {
  grid-template-rows: 1fr;
  opacity: 1;
}

/* */
/* Try & Buy  */
/* */

/* For semi-size display  */
@media (min-width: 42rem) {
  #try-and-buy .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* */
/* Contanct  */
/* */

.m .a::before {
  content: "@";
}

.m .d::before {
  content: ".";
}
